<app-generic-card [hasCardHeader]="false">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="createAppointmentRequestForm"
    class="form form-horizontal"
  >
    <div class="form-body">
      <div class="row">
        <div class="col-md-6">
          <!-- Especialidad -->
          <div class="form-group">
            <label for="specialty">Especialidad</label>

            <ng-multiselect-dropdown
              [placeholder]="'Selecciona una especialidad'"
              [settings]="dropdownSettings"
              [data]="medicalSpecialties"
              formControlName="specialty"
            ></ng-multiselect-dropdown>

            <app-form-errors
              [control]="form.get('specialty')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>

          <!-- Preferencia horaria -->
          <div class="form-group mt-3">
            <label class="mb-2" for="preference">Preferencia horaria</label>

            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="hourPreference"
                id="hourPreference1"
                [value]="NO_PREFERENCE"
                checked
              />
              <label class="form-check-label" for="hourPreference1"
                >Sin preferencia</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="hourPreference"
                id="hourPreference2"
                [value]="MORNING_PREFERENCE"
              />
              <label class="form-check-label" for="hourPreference2"
                >Mañana (09:00 - 14:00)</label
              >
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                formControlName="hourPreference"
                id="hourPreference3"
                [value]="AFTERNOON_PREFERENCE"
              />
              <label class="form-check-label" for="hourPreference3"
                >Tarde (15:00 - 21:00)</label
              >
            </div>

            <app-form-errors
              [control]="form.get('hourPreference')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>

        <!-- Motivo -->
        <div class="col-md-6">
          <div class="form-group">
            <label for="reason">Motivo</label>
            <textarea
              formControlName="reason"
              class="form-control"
              id="reason"
              rows="6"
              placeholder="Motivo"
              [ngClass]="{
                'is-invalid': submitted && form.get('reason')?.errors
              }"
              style="resize: none"
            ></textarea>

            <app-form-errors
              [control]="form.get('reason')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>
      </div>

      <div class="row mt-3 justify-content-end">
        <div class="col col-sm-3 col-xl-2">
          <button type="submit" class="btn btn-primary w-100">Solicitar</button>
        </div>
      </div>
    </div>
  </form>
</app-generic-card>
