<ul class="menu">
  <ng-container *ngFor="let sidebarItem of sidebarItems">
      <ng-container *ngIf="sidebarItem.isTitle; else notTitle">
          <li class="sidebar-title">{{ sidebarItem.name }}</li>
      </ng-container>
      <ng-template #notTitle>
          <li class="sidebar-item" [ngClass]="{'has-sub': sidebarItem.submenu, 'active': currentURL == sidebarItem.url || currentURL.includes(sidebarItem.key)}">
              <a [routerLink]="sidebarItem.url ? [sidebarItem.url] : []" class="sidebar-link">
                  <i class="bi bi-{{ sidebarItem.icon }}"></i>
                  <span>{{ sidebarItem.name }}</span>
              </a>
              <ng-container *ngIf="sidebarItem.submenu">
                  <ul class="submenu">
                      <ng-container *ngFor="let sub of sidebarItem.submenu">
                          <li class="submenu-item" [ngClass]="{'has-sub': sub.submenu, 'active': currentURL == sub.url}">
                              <a [routerLink]="sub.url ? [sub.url] : []" class="submenu-link">{{ sub.name }}</a>

                              <ng-container *ngIf="sub.submenu">
                                  <ul class="submenu submenu-level-2">
                                      <ng-container *ngFor="let subsub of sub.submenu">
                                          <li class="submenu-item">
                                              <a [routerLink]="subsub.url ? [subsub.url] : []" class="submenu-link">{{ subsub.name }}</a>
                                          </li>
                                      </ng-container>
                                  </ul>
                              </ng-container>
                          </li>
                      </ng-container>
                  </ul>
              </ng-container>
          </li>
      </ng-template>
  </ng-container>
</ul>