<app-generic-card [title]="titleCard">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="changePasswordForm"
    class="form-vertical"
  >
    <div class="form-body">
      <div class="row">
        <!-- Contraseña anterior -->
        <div class="col-12">
          <div class="form-group">
            <label for="old-password">Contraseña anterior</label>
            <input
              type="password"
              formControlName="current_password"
              id="old-password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && form.get('current_password')?.errors
              }"
              placeholder="Contraseña anterior"
            />

            <app-form-errors
              [control]="form.get('current_password')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>

        <!-- Contraseña nueva -->
        <div class="col-12">
          <div class="form-group">
            <label for="new-password">Contraseña nueva</label>
            <input
              type="password"
              formControlName="new_password"
              id="new-password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && form.get('new_password')?.errors
              }"
              placeholder="Contraseña nueva"
            />

            <app-form-errors
              [control]="form.get('new_password')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>

        <!-- Repetir contraseña nueva -->
        <div class="col-12">
          <div class="form-group">
            <label for="repeat-new-password">Repetir contraseña nueva</label>
            <input
              type="password"
              formControlName="confirm_new_password"
              id="repeat-new-password"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  submitted && form.get('confirm_new_password')?.errors
              }"
              placeholder="Repetir contraseña nueva"
            />

            <app-form-errors
              [control]="form.get('confirm_new_password')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>

        <!-- Botón -->
        <div class="col-12 d-flex justify-content-end">
          <button type="reset" class="btn btn-outline-primary me-1 mb-1">
            Resetear
          </button>
          <button type="submit" class="btn btn-primary me-1 mb-1">
            Cambiar contraseña
          </button>
        </div>
      </div>
    </div>
  </form>
</app-generic-card>
