<app-generic-card [title]="titleCard">
  <div class="card-content">

    <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm" class="form-vertical">
      <div class="form-body">
        <div class="row">

          <!-- Contraseña anterior -->
          <div class="col-12">
            <div class="form-group">
              <label for="old-password">Contraseña anterior</label>
              <input type="password" formControlName="current_password" id="old-password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && form['current_password'].errors }"
                placeholder="Contraseña anterior">
              <div *ngIf="submitted && form['current_password'].errors" class="invalid-feedback">
                <div *ngIf="form['current_password'].errors['required']">La contraseña anterior es obligatoria</div>
              </div>
            </div>
          </div>

          <!-- Contraseña nueva -->
          <div class="col-12">
            <div class="form-group">
              <label for="new-password">Contraseña nueva</label>
              <input type="password" formControlName="new_password" id="new-password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && form['new_password'].errors }" placeholder="Contraseña nueva">
              <div *ngIf="submitted && form['new_password'].errors" class="invalid-feedback">
                <div *ngIf="form['new_password'].errors['required']">La contraseña nueva es obligatoria</div>
              </div>
            </div>
          </div>

          <!-- Repetir contraseña nueva -->
          <div class="col-12">
            <div class="form-group">
              <label for="repeat-new-password">Repetir contraseña nueva</label>
              <input type="password" formControlName="confirm_new_password" id="repeat-new-password"
                class="form-control" [ngClass]="{ 'is-invalid': submitted && form['confirm_new_password'].errors }"
                placeholder="Repetir contraseña nueva">
              <div *ngIf="submitted && form['confirm_new_password'].errors" class="invalid-feedback">
                <div *ngIf="form['confirm_new_password'].errors['required']">Debe repetir la contraseña</div>
                <div *ngIf="form['confirm_new_password'].errors['matching']">Las contraseñas no coinciden</div>
              </div>
            </div>
          </div>

          <!-- Botón -->
          <div class="col-12 d-flex justify-content-end">
            <button type="reset" class="btn btn-outline-primary me-1 mb-1">
              Resetear
            </button>
            <button type="submit" class="btn btn-primary me-1 mb-1">Cambiar contraseña</button>
          </div>

        </div>
      </div>
    </form>

  </div>
</app-generic-card>