<div id="auth">
  <div class="row h-100">
    <div class="col-lg-5 col-12">
      <div id="auth-left">
        <div class="auth-logo">
          <img [src]="'/assets/images/logo/logo-long.png'" alt="Logo" />
        </div>

        <h1 class="auth-title">{{ title }}</h1>
        <p class="auth-subtitle mb-5">
          {{ subtitle }}
        </p>

        <!-- Contenido -->
        <ng-content></ng-content>
      </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
      <div id="auth-right"></div>
    </div>
  </div>
</div>
