@import "src/assets/scss/variables";

body {
  background-color: var(--bs-body-bg);
}

#auth {
  height: 100vh;
  overflow-x: hidden;

  #auth-right {
    height: 100%;
    background: $page-auth-right-bg;
  }

  #auth-left {
    padding: 5rem;

    .auth-title {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    .auth-subtitle {
      font-size: 1.7rem;
      line-height: 2.5rem;
      color: #a8aebb;
    }

    .auth-logo {
      margin-bottom: 7rem;

      img {
        height: 5rem;
      }
    }

    @media screen and (max-width: 1399.9px) {
      padding: 3rem;
    }

    @media screen and (max-width: 767px) {
      padding: 5rem;
    }

    @media screen and (max-width: 576px) {
      padding: 3rem 2rem;

      .auth-logo {
        img {
          height: 4rem;
        }
      }

      .auth-title {
        font-size: 3rem;
      }

      .auth-subtitle {
        font-size: 1.4rem;
      }

      .auth-logo {
        margin-bottom: 2rem;
      }
    }
  }
}

html[data-bs-theme="dark"] {
  @import "src/assets/scss/themes/dark/variables-dark";

  #auth-right {
    background: $page-auth-right-bg;
  }
}

.password-form-group input {
  padding-right: 3.2rem !important;
}

.form-control-icon-right {
  position: absolute;
  right: 0 !important;
  left: auto !important;
  padding-right: 1rem !important;
}

.form-password.form-control.is-invalid {
  background-position: right calc(2.6em + 0.1875rem) center !important;
}
