<div class="row">
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body px-4 py-4-5">
        <div class="row">
          <div
            class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-sm-start justify-content-center"
          >
            <div class="stats-icon purple mb-2">
              <i class="bi bi-clipboard2-pulse-fill"></i>
            </div>
          </div>
          <div
            class="col-md-8 col-lg-12 col-xl-12 col-xxl-7 text-sm-start text-center"
          >
            <h6 class="text-muted font-semibold">Citas Completadas</h6>
            <h6 class="font-extrabold mb-0">{{ completedAppointments }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body px-4 py-4-5">
        <div class="row">
          <div
            class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-sm-start justify-content-center"
          >
            <div class="stats-icon blue mb-2">
              <i class="bi bi-capsule"></i>
            </div>
          </div>
          <div
            class="col-md-8 col-lg-12 col-xl-12 col-xxl-7 text-sm-start text-center"
          >
            <h6 class="text-muted font-semibold">Tratamientos Recetados</h6>
            <h6 class="font-extrabold mb-0">{{ prescribedTreatments }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body px-4 py-4-5">
        <div class="row">
          <div
            class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-sm-start justify-content-center"
          >
            <div class="stats-icon green mb-2">
              <i class="bi bi-clock-fill"></i>
            </div>
          </div>
          <div
            class="col-md-8 col-lg-12 col-xl-12 col-xxl-7 text-sm-start text-center"
          >
            <h6 class="text-muted font-semibold">Tiempo trabajado</h6>
            <h6 class="font-extrabold mb-0">{{ workedTime }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6">
    <div class="card">
      <div class="card-body px-4 py-4-5">
        <div class="row">
          <div
            class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-sm-start justify-content-center"
          >
            <div class="stats-icon red mb-2">
              <i class="bi bi-stopwatch-fill"></i>
            </div>
          </div>
          <div
            class="col-md-8 col-lg-12 col-xl-12 col-xxl-7 text-sm-start text-center"
          >
            <h6 class="text-muted font-semibold">Tiempo medio por paciente</h6>
            <h6 class="font-extrabold mb-0">{{ averageTimePerPatient }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
