<app-generic-card *ngIf="treatment" [hasCardHeader]="false">
  <!-- Acciones -->
  <div class="actions-button">
    <div class="dropdown">
      <span
        class="dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        customTooltip
        [tooltip]="'Acciones'"
        [tooltipOffsetTop]="5"
      >
        <i class="bi bi-three-dots"></i>
      </span>
      <div
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="dropdownMenuButton"
      >
        <span *appHasRole="['Paciente']">
          <a
            *ngIf="treatment.status == 'in_progress'"
            class="dropdown-item cursor-pointer"
            (click)="completeTreatment()"
          >
            <i class="bi bi-check-circle me-2"></i>
            Completar
          </a>
          <a
            *ngIf="treatment.status == 'in_progress'"
            class="dropdown-item cursor-pointer"
            (click)="interruptTreatment()"
          >
            <i class="bi bi-exclamation-circle me-2"></i>
            Interrumpir
          </a>
          <a
            *ngIf="treatment.status == 'in_progress'"
            class="dropdown-item cursor-pointer"
            (click)="cancelTreatment()"
          >
            <i class="bi bi-x-circle me-2"></i>
            Cancelar
          </a>
          <div
            *ngIf="treatment.status == 'in_progress'"
            class="dropdown-divider"
          ></div>
        </span>
        <a class="dropdown-item cursor-pointer" (click)="downloadPDF()">
          <i class="bi bi-file-earmark-arrow-down me-2"></i>
          Descargar PDF
        </a>
        <a class="dropdown-item cursor-pointer" (click)="printPDF()">
          <i class="bi bi-printer me-2"></i>
          Imprimir
        </a>
      </div>
    </div>
  </div>

  <div id="title" class="row mb-4">
    <!-- Estado del tratamiento -->
    <div class="col-auto mb-md-0 mb-3">
      <span class="badge" [ngClass]="statusBadgeClasses[treatment.status]">
        {{ treatment.status | statusTreatment }}
      </span>
    </div>

    <!-- Título -->
    <div class="col-md col-12">
      <h4 class="card-title">{{ cardTitle }}</h4>
    </div>
  </div>

  <!-- Contenido -->
  <div id="content" class="row">
    <!-- Información tratamiento -->
    <div class="col-md-8">
      <div class="row mb-2">
        <div class="col-12">
          <h5>Información del tratamiento</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="text">
            <strong>Descripción:</strong>
            {{ treatment.description }}
          </p>
          <p class="text">
            <strong>Comentarios:</strong>
            {{ treatment.comments || "--" }}
          </p>
        </div>

        <div class="col-md-6">
          <p class="text">
            <strong>Duración:</strong>
            {{ treatment.duration || "--" }}
          </p>
          <p class="text">
            <strong>Frecuencia de aplicación:</strong>
            {{ treatment.application_frequency || "--" }}
          </p>
          <p class="text">
            <strong>Dosis recomendada:</strong>
            {{ treatment.recommended_dosage || "--" }}
          </p>
        </div>
      </div>
    </div>

    <!-- Información médico -->
    <div
      *ngIf="treatment.doctor && treatment.doctor.user"
      class="col-md-4 mt-md-0 mt-4"
    >
      <div class="row mb-2">
        <div class="col-12">
          <h5>Información del médico</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text">
            <strong>Nombre:</strong>
            {{ treatment.doctor.user.name }}
            {{ treatment.doctor.user.last_name }}
          </p>
          <p class="text">
            <strong>Email:</strong>
            {{ treatment.doctor.user.email }}
          </p>
        </div>
      </div>
    </div>

    <!-- Fechas -->
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col-md-3">
          <p class="text">
            <i class="bi bi-calendar-week me-2"></i>
            <strong>Fecha comienzo:</strong>
          </p>
          <p class="text">
            {{ treatment.start_date | date : "dd/MM/yyyy" }}
          </p>
        </div>
        <div class="col-md-3" *ngIf="treatment.end_date">
          <p class="text">
            <i class="bi bi-calendar2-check me-2"></i>
            <strong>Fecha fin:</strong>
          </p>
          <p class="text">
            {{ treatment.end_date | date : "dd/MM/yyyy" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</app-generic-card>
