<div class="table-responsive">
  <table
    class="table table-hover mb-0"
    [ngClass]="{ 'table-striped': striped }"
  >
    <thead>
      <tr>
        <ng-container *ngFor="let column of columns">
          <th class="cursor-pointer" (click)="sortData(column.field)">
            {{ column.header }}
            <i
              *ngIf="column.field === sortedColumn && !reverseSort"
              class="bi bi-sort-up"
            ></i>
            <i
              *ngIf="column.field === sortedColumn && reverseSort"
              class="bi bi-sort-down"
            ></i>
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="data && data.length > 0; else noData">
        <tr
          *ngFor="let item of data"
          class="cursor-pointer"
          [routerLink]="['/m/citas', item.id]"
        >
          <td>
            {{ item.patient.user.name }} {{ item.patient.user.last_name }}
          </td>
          <td>{{ item.type | typeAppointment }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="this.statusBadgeClasses[item.status]"
            >
              {{ item.status | statusAppointment }}
            </span>
          </td>
          <td>{{ item.reason || "--" }}</td>
          <td>{{ item.schedule.start_time | date : "dd/MM/yyyy HH:mm" }}</td>
        </tr>
      </ng-container>
      <ng-template #noData>
        <tr>
          <td colspan="100%">No hay datos</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
