<app-generic-card [title]="titleCard">
  <div class="card-content">

    <div class="row">

      <div class="col-md-2">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" class="form-control" id="id" [attr.readonly]="true" [value]="patient?.id">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" [attr.readonly]="true" [value]="patient?.user?.name">
        </div>
      </div>

      <div class="col-md-5">
        <div class="form-group">
          <label for="last_name">Apellidos</label>
          <input type="text" class="form-control" id="last_name" [attr.readonly]="true" [value]="patient?.user?.last_name">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="dni">DNI</label>
          <input type="text" class="form-control" id="dni" [attr.readonly]="true" [value]="patient?.dni">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="social_security">Nº de la seguridad social</label>
          <input type="text" class="form-control" id="social_security" [attr.readonly]="true" [value]="patient?.social_security">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="birthdate">Fecha de nacimiento</label>
          <input type="text" class="form-control" id="birthdate" [attr.readonly]="true" [value]="patient?.birthdate | date:'d MMMM, y'">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="gender">Género</label>
          <input type="text" class="form-control" id="gender" [attr.readonly]="true" [value]="patient?.gender | gender">
        </div>
      </div>

    </div>

  </div>
</app-generic-card>
