<!-- Comprueba si se han cargado las citas -->
<ng-container *ngIf="entityData.items; else noItems">
  <!-- Filtros -->
  <app-filters-appointments-patient-card
    [typePage]="'historical'"
    (filters)="applyFilters($event)"
  ></app-filters-appointments-patient-card>

  <!-- Comprueba que hayan citas -->
  <ng-container *ngIf="entityData.items.length > 0; else lengthZero">
    <!-- Recorre las citas -->
    <ng-container *ngFor="let appointment of entityData.items">
      <app-view-appointments-patient-card
        [appointment]="appointment"
        (appointmentCancelled)="getItems(entityData.page)"
      ></app-view-appointments-patient-card>
    </ng-container>

    <!-- Selector elementos por página -->
    <app-elements-per-page
      [totalElements]="entityData.numItems"
      [elementsPerPage]="entityData.numResults"
      (elementsPerPageChangedEvent)="onEntriesPerPageChanged($event)"
    >
    </app-elements-per-page>

    <!-- Paginación -->
    <app-pagination
      [page]="entityData.page"
      [totalPages]="entityData.totalPages"
      [numItems]="entityData.numItems"
      (pageEmitter)="goToPage($event)"
    >
    </app-pagination>
  </ng-container>

  <!-- No hay citas -->
  <ng-template #lengthZero>
    <app-generic-card [hasCardHeader]="false">
      <div class="card-content">No hay citas en el historico.</div>
    </app-generic-card>
  </ng-template>
</ng-container>

<!-- Cargando citas -->
<ng-template #noItems>
  <app-generic-card [hasCardHeader]="false">
    <div class="card-content"><app-loading-spinner></app-loading-spinner></div>
  </app-generic-card>
</ng-template>
