<app-generic-card [title]="titleCard">
  <div class="card-content">
    <div *ngIf="room" class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="id">ID:</label>
          <p class="form-control-static" id="id">
            {{ room.id }}
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="name">Nombre:</label>
          <p class="form-control-static" id="name">
            {{ room.name }}
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Descripción:</label>
          <p class="form-control-static" id="description">
            {{ room.description }}
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="capacity">Capacidad:</label>
          <p class="form-control-static" id="capacity">
            {{ room.capacity }}
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label for="is_available">Disponibilidad:</label>
          <p class="form-control-static" id="is_available">
            <span
              class="badge"
              [ngClass]="{
                'bg-light-success': room.is_available,
                'bg-light-danger': !room.is_available
              }"
            >
              {{ room.is_available ? "Disponible" : "No disponible" }}
            </span>
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="type">Tipo:</label>
          <p class="form-control-static" id="type">
            {{ room.type }}
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="location">Localización:</label>
          <p class="form-control-static" id="location">
            {{ room.location }}
          </p>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="department">Departamento:</label>
          <p class="form-control-static" id="department">
            {{ room.department?.name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</app-generic-card>
