<app-generic-card [title]="titleCard">
  <div class="card-content">

    <form (ngSubmit)="onSubmit()" [formGroup]="createDepartmentForm" class="form form-horizontal">
      <div class="form-body">
        <div class="row">

          <!-- Nombre -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Nombre*</label>
              <input type="text" formControlName="name" class="form-control" id="name" placeholder="Nombre"
                [ngClass]="{ 'is-invalid': submitted && form.get('name')?.errors }">
              
              <app-form-errors [control]="form.get('name')" [submitted]="submitted"></app-form-errors>
            </div>
          </div>

          <!-- Descripción -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="description">Descripción</label>
              <textarea formControlName="description" class="form-control" id="description" rows="5" placeholder="Descripción"
                [ngClass]="{ 'is-invalid': submitted && form.get('description')?.errors }"></textarea>

              <app-form-errors [control]="form.get('description')" [submitted]="submitted"></app-form-errors>
            </div>
          </div>

          <!-- Botones -->
          <div class="col-12 d-flex justify-content-end">
            <button type="reset" class="btn btn-outline-primary me-1">Limpiar</button>
            <button type="submit" class="btn btn-primary">Crear</button>
          </div>

        </div>
      </div>
    </form>

  </div>
</app-generic-card>