<app-generic-card [title]="titleCard">
  <div class="card-content">
    <div *ngIf="doctor && doctor.user" class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="username">Nombre de usuario:</label>
          <p class="form-control-static" id="username">
            {{ doctor.user.username }}
          </p>
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="email">Email:</label>
          <p class="form-control-static" id="email">
            {{ doctor.user.email }}
          </p>
        </div>
      </div>
    </div>
  </div>
</app-generic-card>
