<section class="row">
  <div class="col-12">
    <!-- Bienvenida -->
    <app-welcome-card></app-welcome-card>
  </div>
</section>

<section class="row">
  <div class="col-lg-9">
    <!-- Estadisticas generales -->
    <app-patient-statistics-cards></app-patient-statistics-cards>
  </div>
  <div class="col-lg-3">
    <!-- Tiempo medio de espera -->
    <app-average-waiting-time-card></app-average-waiting-time-card>
  </div>
</section>

<section class="row">
  <!-- Calendario citas diarias -->
  <div class="col-lg-6 col-12">
    <app-patient-today-appointments-calendar
      class="today-calendar"
    ></app-patient-today-appointments-calendar>
  </div>
  <!-- Gráfica de citas por especialidad -->
  <div class="col-lg-6 col-12 mt-lg-0 mt-5">
    <app-patient-appointments-specialties-stacked-column-chart></app-patient-appointments-specialties-stacked-column-chart>
  </div>
</section>
