<div id="error">
  <div class="error-page container">
    <div class="col-md-8 col-12 offset-md-2">
      <div class="text-center">
        <img class="img-error" [src]="'/assets/images/samples/error-404.svg'" alt="Not Found">
        <h1 class="error-title">Página no encontrada</h1>
        <p class='fs-5 text-gray-600'>Lo sentimos, la página que estás buscando no existe.</p>
        <a [routerLink]="['/login']" class="btn btn-lg btn-outline-primary mt-3">Ir a inicio</a>
      </div>
    </div>
  </div>
</div>