<app-generic-card [hasCardHeader]="false">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="createPatientForm"
    class="form form-horizontal"
  >
    <div class="form-body">
      <div *ngIf="patientInfo" formGroupName="patientInfoForm">
        <div class="row">
          <!-- Nombre de usuario -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="username">Nombre de usuario*</label>
              <input
                type="text"
                formControlName="username"
                class="form-control"
                id="username"
                [attr.readonly]="true"
                placeholder="Nombre de usuario"
              />
              <p>
                <small class="text-muted">Generado a partir del DNI.</small>
              </p>
            </div>
          </div>

          <!-- Email -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email*</label>
              <input
                type="text"
                formControlName="email"
                class="form-control"
                id="email"
                placeholder="Email"
                [ngClass]="{
                  'is-invalid': submitted && patientInfo.get('email')?.errors
                }"
              />

              <app-form-errors
                [control]="patientInfo.get('email')"
                [submitted]="submitted"
              ></app-form-errors>
            </div>
          </div>

          <!-- Nombre -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Nombre*</label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                id="name"
                placeholder="Nombre"
                [ngClass]="{
                  'is-invalid': submitted && patientInfo.get('name')?.errors
                }"
              />

              <app-form-errors
                [control]="patientInfo.get('name')"
                [submitted]="submitted"
              ></app-form-errors>
            </div>
          </div>

          <!-- Apellidos -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="last_name">Apellidos*</label>
              <input
                type="text"
                formControlName="last_name"
                class="form-control"
                id="last_name"
                placeholder="Apellidos"
                [ngClass]="{
                  'is-invalid':
                    submitted && patientInfo.get('last_name')?.errors
                }"
              />

              <app-form-errors
                [control]="patientInfo.get('last_name')"
                [submitted]="submitted"
              ></app-form-errors>
            </div>
          </div>

          <!-- DNI -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="dni">DNI*</label>
              <input
                type="text"
                formControlName="dni"
                class="form-control"
                id="dni"
                placeholder="DNI"
                [ngClass]="{
                  'is-invalid': submitted && patientInfo.get('dni')?.errors
                }"
              />

              <app-form-errors
                [control]="patientInfo.get('dni')"
                [submitted]="submitted"
              ></app-form-errors>
            </div>
          </div>

          <!-- Nº de la seguridad social -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="social_security">Nº de la seguridad social</label>
              <input
                type="text"
                formControlName="social_security"
                class="form-control"
                id="social_security"
                placeholder="Nº de la seguridad social"
                [ngClass]="{
                  'is-invalid':
                    submitted && patientInfo.get('social_security')?.errors
                }"
              />

              <app-form-errors
                [control]="patientInfo.get('social_security')"
                [submitted]="submitted"
              ></app-form-errors>
            </div>
          </div>

          <!-- Fecha nacimiento -->
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="birthdate">Fecha de nacimiento</label>
              <input
                type="text"
                formControlName="birthdate"
                id="birthdate"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    submitted && patientInfo.get('birthdate')?.errors
                }"
                mwlFlatpickr
                [convertModelValue]="true"
                [locale]="locale"
                [maxDate]="'today'"
                [dateFormat]="'d-m-Y'"
                [monthSelectorType]="'dropdown'"
                placeholder="Fecha de nacimiento"
                [disableMobile]="true"
              />
              <app-form-errors
                [control]="patientInfo.get('birthdate')"
                [submitted]="submitted"
              ></app-form-errors>
            </div>
          </div>

          <!-- Género -->
          <div class="col-md-6">
            <fieldset class="form-group">
              <label for="gender">Género*</label>
              <select
                class="form-select"
                formControlName="gender"
                id="gender"
                [ngClass]="{
                  'is-invalid': submitted && patientInfo.get('gender')?.errors
                }"
              >
                <option value="" selected>--</option>
                <option
                  *ngFor="let option of gender_options"
                  [value]="option.value"
                >
                  {{ option.text }}
                </option>
              </select>

              <app-form-errors
                [control]="patientInfo.get('gender')"
                [submitted]="submitted"
              ></app-form-errors>
            </fieldset>
          </div>

          <!-- Nº de teléfono -->
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">Nº de teléfono</label>
              <input
                type="text"
                formControlName="phone"
                class="form-control"
                id="phone"
                placeholder="Nº de teléfono"
                [ngClass]="{
                  'is-invalid': submitted && patientInfo.get('phone')?.errors
                }"
              />

              <app-form-errors
                [control]="patientInfo.get('phone')"
                [submitted]="submitted"
              ></app-form-errors>
            </div>
          </div>

          <!-- Países -->
          <div class="col-md-6">
            <fieldset class="form-group">
              <label for="nationality">Nacionalidad</label>

              <ng-multiselect-dropdown
                [placeholder]="'Selecciona una nacionalidad'"
                [settings]="dropdownSettings"
                [data]="nationalities"
                formControlName="nationality"
              ></ng-multiselect-dropdown>

              <app-form-errors
                [control]="patientInfo.get('nationality')"
                [submitted]="submitted"
              ></app-form-errors>
            </fieldset>
          </div>
        </div>
      </div>

      <!-- Botón para añadir dirección -->
      <div class="col-md-12 my-4">
        <ng-container *ngIf="!showAddressInputs; else notShowAddressInputs">
          <button class="btn btn-light" (click)="toggleAddressInputs()">
            <i class="bi bi-plus-circle me-1"></i>
            Añadir dirección
          </button>
        </ng-container>
        <ng-template #notShowAddressInputs>
          <button class="btn btn-danger" (click)="toggleAddressInputs()">
            <i class="bi bi-dash-circle me-1"></i>
            Eliminar dirección
          </button>
        </ng-template>
      </div>

      <ng-container *ngIf="showAddressInputs">
        <div *ngIf="address" formGroupName="addressForm">
          <div class="row">
            <!-- Calle -->
            <div class="col-xl-6 col-12">
              <div class="form-group">
                <label for="street">Calle*</label>
                <input
                  type="text"
                  formControlName="street"
                  id="street"
                  class="form-control"
                  placeholder="Calle"
                  [ngClass]="{
                    'is-invalid': submitted && address.get('street')?.errors
                  }"
                />

                <app-form-errors
                  [control]="address.get('street')"
                  [submitted]="submitted"
                ></app-form-errors>
              </div>
            </div>

            <!-- Número -->
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="number">Número*</label>
                <input
                  type="text"
                  formControlName="number"
                  id="number"
                  class="form-control"
                  placeholder="Número"
                  [ngClass]="{
                    'is-invalid': submitted && address.get('number')?.errors
                  }"
                />

                <app-form-errors
                  [control]="address.get('number')"
                  [submitted]="submitted"
                ></app-form-errors>
              </div>
            </div>

            <!-- Piso -->
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="form-group">
                <label for="floor">Piso</label>
                <input
                  type="text"
                  formControlName="floor"
                  id="floor"
                  class="form-control"
                  placeholder="Piso"
                  [ngClass]="{
                    'is-invalid': submitted && address.get('floor')?.errors
                  }"
                />

                <app-form-errors
                  [control]="address.get('floor')"
                  [submitted]="submitted"
                ></app-form-errors>
              </div>
            </div>

            <!-- Ciudad -->
            <div class="col-xl-6 col-12">
              <div class="form-group">
                <label for="city">Ciudad*</label>
                <input
                  type="text"
                  formControlName="city"
                  id="city"
                  class="form-control"
                  placeholder="Ciudad"
                  [ngClass]="{
                    'is-invalid': submitted && address.get('city')?.errors
                  }"
                />

                <app-form-errors
                  [control]="address.get('city')"
                  [submitted]="submitted"
                ></app-form-errors>
              </div>
            </div>

            <!-- Código Postal -->
            <div class="col-xl-6 col-12">
              <div class="form-group">
                <label for="postal_code">Código Postal*</label>
                <input
                  type="text"
                  formControlName="postal_code"
                  id="postal_code"
                  class="form-control"
                  placeholder="Código Postal"
                  [ngClass]="{
                    'is-invalid':
                      submitted && address.get('postal_code')?.errors
                  }"
                />

                <app-form-errors
                  [control]="address.get('postal_code')"
                  [submitted]="submitted"
                ></app-form-errors>
              </div>
            </div>

            <!-- Provincia -->
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="province">Provincia*</label>
                <input
                  type="text"
                  formControlName="province"
                  id="province"
                  class="form-control"
                  placeholder="Provincia"
                  [ngClass]="{
                    'is-invalid': submitted && address.get('province')?.errors
                  }"
                />

                <app-form-errors
                  [control]="address.get('province')"
                  [submitted]="submitted"
                ></app-form-errors>
              </div>
            </div>

            <!-- País -->
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label for="country">País*</label>
                <input
                  type="text"
                  formControlName="country"
                  id="country"
                  class="form-control"
                  placeholder="País"
                  [ngClass]="{
                    'is-invalid': submitted && address.get('country')?.errors
                  }"
                />

                <app-form-errors
                  [control]="address.get('country')"
                  [submitted]="submitted"
                ></app-form-errors>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row mt-3 justify-content-end">
        <div class="col-auto">
          <button type="reset" class="btn btn-outline-primary">Limpiar</button>
        </div>
        <div class="col col-sm-3 col-xl-2">
          <button type="submit" class="btn btn-primary w-100">Crear</button>
        </div>
      </div>
    </div>
  </form>
</app-generic-card>
