<div class="dropdown text-end">
  <a href="#" id="sidebarUserDropdown"
    class="user-dropdow d-flex align-items-center justify-content-center dropend dropdown-toggle"
    data-bs-toggle="dropdown" aria-expanded="false">
    <div class="avatar avatar-md2">
      <img [src]="'/assets/images/avatar/1.jpg'" alt="Avatar">
    </div>
    <div class="text">
      <h6 class="user-dropdown-name">{{ username }}</h6>
      <p class="user-dropdown-status text-sm text-muted"></p>
    </div>
  </a>
  <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="sidebarUserDropdow">
    <li><a class="dropdown-item" href="#">Mi perfil</a></li>
    <li><a class="dropdown-item" href="#">Ajustes</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="#" (click)="logout()">Cerrar sesión</a></li>
  </ul>
</div>