<nav aria-label="breadcrumb" class="breadcrumb-header float-start float-md-end">
  <ol class="breadcrumb">
    <ng-container *ngFor="let crumb of breadcrumbs; let last = last">
      <li class="breadcrumb-item" [ngClass]="{ active: isLastActive && last }">
        <a
          *ngIf="!isLastActive || !last; else lastActive"
          [routerLink]="[crumb.url]"
        >
          {{ crumb.label }}
        </a>
        <ng-template #lastActive>
          {{ crumb.label }}
        </ng-template>
      </li>
    </ng-container>
  </ol>
</nav>
