<div class="row justify-content-between">
  <div class="col-sm-8"></div>

  <div class="col-sm-4">
    <app-generic-card [hasCardHeader]="false">
      <div class="card-content row justify-content-around">
        <a
          [routerLink]="['/administrativos/editar/', administrativeId]"
          class="btn btn-light col-lg-5 mb-2 mb-lg-0"
        >
          Editar
        </a>

        <ng-container *ngIf="isActive; else notActive">
          <a
            class="btn btn-danger col-lg-5"
            (click)="deleteAdministrative(administrativeId)"
          >
            Eliminar
          </a>
        </ng-container>

        <ng-template #notActive>
          <a
            class="btn btn-warning col-lg-5"
            (click)="activateAdministrative(administrativeId)"
          >
            Activar
          </a>
        </ng-template>
      </div>
    </app-generic-card>
  </div>
</div>
