<div class="row justify-content-between">
  <div class="col-sm-8">
    <app-generic-card [hasCardHeader]="false">
      <div class="card-content row justify-content-around">
        <a class="btn btn-primary col-xl-3 col-lg-4 mb-2 mb-lg-0 me-0">
          Historial Médico
        </a>

        <a class="btn btn-primary col-lg-3 mb-2 mb-lg-0"> Tratamientos </a>
        <a class="btn btn-primary col-xl-3 col-lg-4"> Pruebas Médicas </a>
      </div>
    </app-generic-card>
  </div>

  <div class="col-sm-4">
    <app-generic-card [hasCardHeader]="false">
      <div class="card-content row justify-content-around">
        <a
          *appHasRole="editRoles"
          [routerLink]="['/pacientes/editar/', patientId]"
          class="btn btn-light col-lg-5 mb-2 mb-lg-0"
        >
          Editar
        </a>

        <ng-container *ngIf="isActive; else notActive">
          <a
            *appHasRole="deleteRoles"
            class="btn btn-danger col-lg-5"
            (click)="deletePatient(patientId)"
          >
            Eliminar
          </a>
        </ng-container>

        <ng-template #notActive>
          <a
            *appHasRole="activateRoles"
            class="btn btn-warning col-lg-5"
            (click)="activatePatient(patientId)"
          >
            Activar
          </a>
        </ng-template>
      </div>
    </app-generic-card>
  </div>
</div>
