@import "src/assets/scss/variables";

#error {
  background-color: $page-error-bg;
  padding: 2rem 0;
  min-height: 100vh;

  .img-error {
    height: 435px;
    object-fit: contain;
    padding: 3rem 0 3rem 0;
  }

  .error-title {
    font-size: 3rem;
    margin-top: 1rem;
  }

  @media screen and (max-width: 576px) {
    .img-error {
      height: 335px;
    }
  }
}

html[data-bs-theme="dark"] {
  @import "src/assets/scss/themes/dark/variables-dark";

  #error {
    background-color: $page-error-bg;
  }
}
