<form
  (ngSubmit)="onSubmit()"
  [formGroup]="completeMedicalTestForm"
  class="form form-horizontal text-start"
>
  <div class="form-body">
    <div class="row w-100">
      <!-- Resultado -->
      <div class="col-12">
        <div class="form-group">
          <label for="result">Resultado*</label>
          <textarea
            formControlName="result"
            class="form-control"
            id="result"
            rows="5"
            placeholder="Resultado"
            [ngClass]="{
              'is-invalid': submitted && form.get('result')?.errors
            }"
            style="resize: none"
          ></textarea>

          <app-form-errors
            [control]="form.get('result')"
            [submitted]="submitted"
          ></app-form-errors>
        </div>
      </div>
    </div>

    <div class="row mt-3 w-100 justify-content-end">
      <div class="col-auto">
        <button type="reset" class="btn btn-outline-primary">Limpiar</button>
      </div>
      <div class="col col-sm-3 col-xl-2">
        <button type="submit" class="btn btn-primary w-100">Completar</button>
      </div>
    </div>
  </div>
</form>
