<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <!-- Título y descripción -->
        <h3>
          <!-- Bóton volver atrás -->
          <a class="me-2" style="cursor: pointer" (click)="goBack()">
            <svg
              style="margin-bottom: 4px"
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 16 16"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
              />
            </svg>
          </a>

          <!-- Título -->
          {{ pageTitle }}
        </h3>

        <!-- Descripción -->
        <p class="text-subtitle text-muted">
          {{ pageDescription }}
        </p>
      </div>

      <!-- Breadcrumb -->
      <div class="col-12 col-md-6 order-md-2 order-first">
        <app-breadcrumb
          [breadcrumbs]="breadcrumbData"
          [isLastActive]="true"
        ></app-breadcrumb>
      </div>
    </div>
  </div>

  <!-- Contenido página -->
  <ng-content></ng-content>
</div>
