<app-generic-card [title]="titleCard">
  <div class="card-content">

    <div class="row mb-3 justify-content-between">
      <div class="col-md-3 col-12">
        <a [routerLink]="['/pacientes/crear/']" class="btn btn-primary w-100">Alta paciente</a>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mt-md-0 mt-3">

        <app-search (searchSubmitted)="onSearchSubmitted($event)"></app-search>

      </div>
    </div>

    <ng-container *ngIf="patients">
    
      <app-generic-table [columns]="columns" [data]="patients" [actions]="true" [actionsUrls]="actionsUrls" (onDeleteEvent)="deletePatient($event)"></app-generic-table>

      <app-elements-per-page (elementsPerPageChangedEvent)="onEntriesPerPageChanged($event)" [totalElements]="numPatients"></app-elements-per-page>

      <app-pagination (pageEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numPatients"></app-pagination>

    </ng-container>

  </div>
</app-generic-card>
