<section class="row">
  <div class="col-12">
    <!-- Bienvenida -->
    <app-welcome-card></app-welcome-card>
  </div>
</section>

<section class="row">
  <div class="col-lg-9">
    <!-- Estadisticas generales -->
    <app-doctor-statistics-cards></app-doctor-statistics-cards>
  </div>
  <div class="col-lg-3">
    <!-- Tiempo medio de espera -->
    <app-average-waiting-time-card></app-average-waiting-time-card>
  </div>
</section>

<section class="row">
  <!-- Calendario citas diarias -->
  <div class="col-lg-6 col-12">
    <app-doctor-today-appointments-calendar
      class="today-calendar"
    ></app-doctor-today-appointments-calendar>
  </div>
  <!-- Grafica citas diarias por mes -->
  <div class="col-lg-6 col-12 mt-lg-0 mt-5">
    <app-doctor-monthly-appointments-line-chart></app-doctor-monthly-appointments-line-chart>
  </div>
</section>

<section class="row">
  <!-- Gráfica citas por género -->
  <div class="col-lg-4 col-12">
    <app-doctor-appointments-gender-donut-chart></app-doctor-appointments-gender-donut-chart>
  </div>
  <!-- Gráfica citas por especialidad médica -->
  <div class="col-lg-4 col-12">
    <app-doctor-appointments-specialty-columns-chart></app-doctor-appointments-specialty-columns-chart>
  </div>
  <!-- Gráfica citas por edad -->
  <div class="col-lg-4 col-12">
    <app-doctor-appointments-age-columns-chart></app-doctor-appointments-age-columns-chart>
  </div>
</section>
