<div class="card">

  <div class="card-header">
    <h4 class="card-title">
      Información Básica
    </h4>
  </div>

  <div class="card-content">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" [formGroup]="updateUserDataForm" class="form">
        <div class="row">

          <!-- Nombre -->
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="first-name-column">Nombre</label>
              <input type="text" formControlName="name" id="first-name-column" class="form-control" placeholder="Nombre"
                [value]="user.name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }">
              <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                <div *ngIf="form['name'].errors['required']">El nombre es obligatorio</div>
              </div>
            </div>
          </div>

          <!-- Apellidos -->
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="last-name-column">Apellidos</label>
              <input type="text" formControlName="last_name" id="last-name-column" class="form-control"
                placeholder="Apellidos" [value]="user.last_name"
                [ngClass]="{ 'is-invalid': submitted && form['last_name'].errors }">
              <div *ngIf="submitted && form['last_name'].errors" class="invalid-feedback">
                <div *ngIf="form['last_name'].errors['required']">Los apellidos son obligatorios</div>
              </div>
            </div>
          </div>

          <!-- Nombre de usuario -->
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="username-column">Nombre de usuario</label>
              <input type="text" formControlName="username" id="username-column" class="form-control"
                placeholder="Nombre de usuario" [value]="user.username"
                [ngClass]="{ 'is-invalid': submitted && form['username'].errors }" readonly="readonly">
              <p><small class="text-muted">No se puede editar el nombre de usuario.</small></p>
              <div *ngIf="submitted && form['username'].errors" class="invalid-feedback">
                <div *ngIf="form['username'].errors['required']">El usuario es obligatorio</div>
              </div>
            </div>
          </div>

          <!-- Correo electrónico -->
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label for="email-column">Correo Electrónico</label>
              <input type="text" formControlName="email" id="email-column" class="form-control"
                placeholder="Correo Electrónico" [value]="user.email"
                [ngClass]="{ 'is-invalid': submitted && form['email'].errors }">
              <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                <div *ngIf="form['email'].errors['required']">El correo electrónico es obligatorio</div>
                <div *ngIf="form['email'].errors['email']">Correo electrónico inválido</div>
              </div>
            </div>
          </div>

          <!-- Botón -->
          <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary me-1 mb-1">Actualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>