<app-generic-card [hasCardHeader]="false">
  <div *ngIf="medicalTest" class="card-content">
    <div id="content" class="row">
      <!-- Información de la Prueba Médica -->
      <div class="col-12">
        <div class="row">
          <div class="col-12 mb-3">
            <div class="row justify-content-between">
              <div class="col">
                <h5>Información de la prueba médica</h5>
              </div>

              <div class="col text-end">
                <!-- Eliminar prueba médica -->
                <button
                  *ngIf="medicalTest.state"
                  (click)="onDelete(medicalTest.id)"
                  class="btn btn-outline-danger me-3"
                >
                  Eliminar
                </button>

                <!-- Activar prueba médica -->
                <button
                  *ngIf="!medicalTest.state"
                  (click)="onActivate(medicalTest.id)"
                  class="btn btn-outline-warning me-3"
                >
                  Activar
                </button>

                <!-- Editar prueba médica -->
                <button
                  [swal]="editMedicalTest"
                  class="btn btn-outline-primary me-3"
                >
                  Editar
                </button>

                <!-- Completar prueba médica -->
                <button
                  *ngIf="!medicalTest.is_completed"
                  [swal]="completeMedicalTest"
                  class="btn btn-primary"
                >
                  Completar
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-12 mb-1">
            <p>
              <strong>Nombre:</strong>
              {{ medicalTest.name }}
            </p>
          </div>
          <div class="col-md-6 col-12 mb-1">
            <p>
              <strong>Descripción:</strong>
              {{ medicalTest.description || "--" }}
            </p>
          </div>
          <div class="col-md-6 col-12 mb-1">
            <p>
              <strong>Fecha de prescripción:</strong>
              {{ medicalTest.date_prescribed | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="col-md-6 col-12 mb-1">
            <p>
              <strong>Completada:</strong>
              {{ medicalTest.is_completed ? "Sí" : "No" }}
            </p>
          </div>
          <div class="col-12 mb-1">
            <p>
              <strong>Resultado:</strong>
              {{ medicalTest.result || "--" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-generic-card>

<swal
  #completeMedicalTest
  [showCloseButton]="true"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [width]="'1000px'"
>
  <div *swalPortal="swalTargets.title">
    <h4 class="mb-4 text-start text-uppercase">Completar Prueba Médica</h4>
  </div>
  <div *swalPortal="swalTargets.content">
    <app-form-complete-medical-test
      *ngIf="medicalTest"
      [medicalTestId]="medicalTest.id"
      (completedMedicalTest)="updatedMedicalTest.emit($event)"
    ></app-form-complete-medical-test>
  </div>
</swal>

<swal
  #editMedicalTest
  [showCloseButton]="true"
  [showCancelButton]="false"
  [showConfirmButton]="false"
  [width]="'1000px'"
>
  <div *swalPortal="swalTargets.title">
    <h4 class="mb-4 text-start text-uppercase">Editar Prueba Médica</h4>
  </div>
  <div *swalPortal="swalTargets.content">
    <app-form-edit-medical-test
      *ngIf="medicalTest"
      [medicalTest]="medicalTest"
      (updatedMedicalTest)="updatedMedicalTest.emit($event)"
    ></app-form-edit-medical-test>
  </div>
</swal>
