<app-authentication-page [title]="title" [subtitle]="subtitle">
  <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
    <!-- Email -->
    <div class="form-group position-relative has-icon-left mb-4">
      <input
        type="text"
        formControlName="email"
        class="form-control form-control-xl"
        placeholder="Correo electrónico"
        [ngClass]="{
          'is-invalid': submitted && form.get('email')?.errors
        }"
      />
      <div class="form-control-icon">
        <i class="bi bi-envelope"></i>
      </div>

      <app-form-errors
        [control]="form.get('email')"
        [submitted]="submitted"
      ></app-form-errors>
    </div>

    <!-- Mensajes de error -->
    <div
      *ngIf="submitted && errorMessage != ''"
      class="alert alert-light-danger color-danger"
    >
      <i class="bi bi-exclamation-circle"></i>
      {{ errorMessage }}
    </div>

    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-md-5 mt-1">
      Enviar
    </button>
  </form>

  <div class="text-center mt-4 text-lg fs-5">
    <p class="text-gray-600">
      ¿Recuerdas tu contraseña?
      <a
        class="fw-bold d-md-inline d-block"
        [routerLink]="['/auth/iniciar-sesion']"
        >Inicia sesión</a
      >
    </p>
  </div>
</app-authentication-page>
