<div id="forgot-password">
  <div class="row h-100">
    <div class="col-lg-5 col-12">
      <div id="auth-left">
        <div class="auth-logo">
          <img [src]="'/assets/images/logo/logo-long.png'" alt="Logo" />
        </div>

        <h1 class="auth-title">Olvidé mi contraseña</h1>
        <p class="auth-subtitle mb-5">
          Te enviaremos un enlace para recuperar tu contraseña
        </p>

        <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
          <!-- Email -->
          <div class="form-group position-relative has-icon-left mb-4">
            <input
              type="text"
              formControlName="email"
              class="form-control form-control-xl"
              placeholder="Correo electrónico"
              [ngClass]="{
                'is-invalid': submitted && form.get('email')?.errors
              }"
            />
            <div class="form-control-icon">
              <i class="bi bi-envelope"></i>
            </div>

            <app-form-errors
              [control]="form.get('email')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>

          <!-- Mensajes de error -->
          <div
            *ngIf="submitted && errorMessage != ''"
            class="alert alert-light-danger color-danger"
          >
            <i class="bi bi-exclamation-circle"></i>
            {{ errorMessage }}
          </div>

          <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
            Enviar
          </button>
        </form>

        <div class="text-center mt-4 text-lg fs-5">
          <p class="text-gray-600">
            ¿Recuerdas tu contraseña?
            <a [routerLink]="['/auth/login']" style="font-weight: 700"
              >Inicia sesión</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-7 d-none d-lg-block">
      <div id="auth-right"></div>
    </div>
  </div>
</div>
