<div class="page-heading">
  <div class="page-title">
    <div class="row">
      <div class="col-12 col-md-6 order-md-1 order-last">
        <ng-container *ngIf="group">
          <h3>Editar grupo - {{ group!.name }}</h3>
        </ng-container>
        <p class="text-subtitle text-muted">
          Aquí puedes editar un grupo (rol).
        </p>
      </div>
      <div class="col-12 col-md-6 order-md-2 order-first">
        
        <app-breadcrumb [breadcrumbs]="breadcrumbData" [isLastActive]="true"></app-breadcrumb>

      </div>
    </div>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-12">

        <ng-container *ngIf="group">
          <app-edit-group-card [group]="group" (groupEditedEvent)="getProduct($event)"></app-edit-group-card>
        </ng-container>

      </div>
    </div>

  </section>

</div>