<div class="container mt-2">
  <div class="row">
    <!-- Elementos por página -->
    <div class="col-3 col-md-2 col-5">
      <div class="form-group">
        <select
          id="entriesPerPage"
          class="form-select"
          [(ngModel)]="elementsPerPage"
          (change)="onSelectChanged()"
        >
          <option *ngFor="let number of quantityOptions" [value]="number">
            {{ number }}
          </option>
        </select>
      </div>
    </div>
    <div class="col d-sm-block d-none">
      <p class="text-muted mt-2 m-0 text-sm-start text-end">
        elementos por página
      </p>
    </div>

    <!-- Total elementos -->
    <div class="col">
      <p class="text-muted mt-2 m-0 text-end">
        Total {{ totalElements }} elementos
      </p>
    </div>
  </div>
</div>
