<app-generic-card [title]="titleCard">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="editContactInfoPatientForm"
    class="form form-horizontal"
  >
    <div class="form-body">
      <div class="row">
        <!-- Nombre de usuario -->
        <div class="col-12">
          <div class="form-group">
            <label for="username">Nombre de usuario*</label>
            <input
              type="text"
              formControlName="username"
              class="form-control"
              id="username"
              [attr.readonly]="true"
              placeholder="Nombre de usuario"
              [ngClass]="{
                'is-invalid': submitted && form.get('username')?.errors
              }"
            />

            <app-form-errors
              [control]="form.get('username')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>

        <!-- Email -->
        <div class="col-lg-12 col-md-6 col-12">
          <div class="form-group">
            <label for="email">Email*</label>
            <input
              type="text"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="Email"
              [ngClass]="{
                'is-invalid': submitted && form.get('email')?.errors
              }"
            />

            <app-form-errors
              [control]="form.get('email')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>

        <!-- Nº de teléfono -->
        <div class="col-lg-12 col-md-6 col-12">
          <div class="form-group">
            <label for="phone">Nº de teléfono</label>
            <input
              type="text"
              formControlName="phone"
              class="form-control"
              id="phone"
              placeholder="Nº de teléfono"
              [ngClass]="{
                'is-invalid': submitted && form.get('phone')?.errors
              }"
            />

            <app-form-errors
              [control]="form.get('phone')"
              [submitted]="submitted"
            ></app-form-errors>
          </div>
        </div>

        <!-- Botones -->
        <div class="col-12 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary me-1 mb-1">
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </form>
</app-generic-card>
