<app-generic-card [title]="titleCard">
  <div class="card-content">
    <div class="row">
      <div class="col-lg-1 col-md-3">
        <div class="form-group">
          <label for="id">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            [attr.readonly]="true"
            [value]="department?.id"
          />
        </div>
      </div>

      <div class="col-lg-5 col-md-9">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [attr.readonly]="true"
            [value]="department?.name"
          />
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea
            class="form-control"
            id="description"
            [attr.readonly]="true"
            rows="3"
            >{{ department?.description }}</textarea
          >
        </div>
      </div>
    </div>
  </div>
</app-generic-card>
