<app-generic-page
  [pageTitle]="pageTitle"
  [pageDescription]="pageDescription"
  [breadcrumbData]="breadcrumbData"
>
  <ng-container *ngIf="room">
    <section *appHasRole="buttonsRoles" class="section">
      <app-buttons-rooms-card
        *ngIf="room.id && room.is_available !== undefined"
        [roomId]="room.id"
        [isActive]="room.is_available"
        (refreshRoom)="onRefreshRoom()"
      ></app-buttons-rooms-card>
    </section>

    <section class="section">
      <div class="row">
        <div class="col-12">
          <app-view-info-rooms-card [room]="room"></app-view-info-rooms-card>
        </div>
      </div>
    </section>
  </ng-container>
</app-generic-page>
