<nav class="mt-4" aria-label="Paginación">
  <ul class="pagination pagination-primary justify-content-center">
      <li class="page-item">
        <button class="page-link" (click)="prev()" [disabled]="page === 1">
          <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
        </button>
      </li>

      <li class="page-item" *ngFor="let pageNumber of getPages()">
        <button class="page-link"  [class.active]="pageNumber === page" (click)="goToPage(pageNumber)">{{ pageNumber }}</button>
      </li>
      
      <li class="page-item">
        <button class="page-link" (click)="next()" [disabled]="page === totalPages">
          <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
        </button>
      </li>
  </ul>
</nav>