<app-generic-card [title]="titleCard">
  <div class="card-content">

    <div class="row mb-3 justify-content-start">
      <div class="col-lg-4 col-md-6 col-12">

        <app-search (searchSubmitted)="onSearchSubmitted($event)"></app-search>

      </div>
    </div>

    <ng-container *ngIf="permissions">

      <app-generic-table [stripped]="true" [columns]="columns" [data]="permissions"></app-generic-table>

      <app-elements-per-page (elementsPerPageChangedEvent)="onEntriesPerPageChanged($event)" [totalElements]="numGroups"></app-elements-per-page>

      <app-pagination (pageEmitter)="goToPage($event)" [page]="page" [totalPages]="totalPages" [numItems]="numGroups"></app-pagination>

    </ng-container>

  </div>
</app-generic-card>