.apexcharts-menu {
  background-color: $card-bg !important;
  color: $secondary-text-dark;

  .apexcharts-menu-item:hover {
    background-color: $primary-bg-subtle-dark !important;
  }
}

.apexcharts-legend-text,
.apexcharts-text {
  color: $secondary-text-dark !important;
  fill: $secondary-text-dark !important;
}
