.multiselect-dropdown .dropdown-btn {
  border: 1px solid #35354f !important;
}

.dropdown-list {
  background-color: $card-bg !important;
  color: $primary-text-dark;
  border: 1px solid #35354f !important;
  box-shadow: none !important;

  .filter-textbox {
    border: 1px solid #35354f !important;
  }

  .multiselect-item-checkbox input[type="checkbox"] + div {
    color: $secondary-text-dark;
  }

  .filter-textbox input {
    background-color: $card-bg !important;
  }
}
