<app-generic-card [title]="titleCard">
  <div class="card-content">
    <div *ngIf="address" class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="street">Calle:</label>
          <p class="form-control-static" id="street">
            {{ address.street }}
          </p>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="form-group">
          <label for="number">Número:</label>
          <p class="form-control-static" id="number">
            {{ address.number }}
          </p>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="form-group">
          <label for="floor">Piso:</label>
          <p class="form-control-static" id="floor">
            {{ address.floor }}
          </p>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="city">Ciudad:</label>
          <p class="form-control-static" id="city">
            {{ address.city }}
          </p>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="postal_code">Código Postal:</label>
          <p class="form-control-static" id="postal_code">
            {{ address.postal_code }}
          </p>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="province">Provincia:</label>
          <p class="form-control-static" id="province">
            {{ address.province }}
          </p>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="country">País:</label>
          <p class="form-control-static" id="country">
            {{ address.country }}
          </p>
        </div>
      </div>
    </div>
  </div>
</app-generic-card>
