<div class="page-content">
  <section class="row">
    <div class="col-12">
      <!-- Bienvenida -->
      <app-welcome-card></app-welcome-card>
    </div>
  </section>

  <section class="row">
    <div class="col-lg-9">
      <!-- Estadisticas generales -->
      <app-statistics-cards></app-statistics-cards>
    </div>
    <div class="col-lg-3">
      <!-- Tiempo medio de espera -->
      <app-average-waiting-time-card></app-average-waiting-time-card>
    </div>
  </section>

  <section class="row">
    <!-- Grafica citas diarias por mes -->
    <div class="col-xl-8 col-12">
      <app-monthly-appointments-line-chart></app-monthly-appointments-line-chart>
    </div>
    <!-- Grafica porcentaje de citas por estado -->
    <div class="col-xl-4 col-12">
      <app-appointments-status-pie-chart></app-appointments-status-pie-chart>
    </div>
  </section>

  <section class="row">
    <!-- Gráfica distribución mensual de tipos de citas -->
    <div class="col-lg-6 col-12">
      <app-appointments-types-stacked-column-chart></app-appointments-types-stacked-column-chart>
    </div>
    <!-- Gráfica citas por género del paciente -->
    <div class="col-lg-6 col-12">
      <app-appointments-gender-area-spline-chart></app-appointments-gender-area-spline-chart>
    </div>
  </section>

  <section class="row">
    <!-- Gráfica porcentaje de doctores por especialidad -->
    <div class="col-xl-4 col-12">
      <app-doctors-medical-specialties-donut-chart></app-doctors-medical-specialties-donut-chart>
    </div>
    <!-- Gráfica citas por rango edad -->
    <div class="col-xl-8 col-12">
      <app-appointments-age-column-chart></app-appointments-age-column-chart>
    </div>
  </section>
</div>
