<app-authentication-page [title]="title" [subtitle]="subtitle">
  <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
    <!-- Contraseña -->
    <div
      class="password-form-group form-group position-relative has-icon-left mb-4"
    >
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        class="form-control form-control-xl"
        placeholder="Contraseña"
        [ngClass]="{
          'is-invalid': submitted && form.get('password')?.errors
        }"
      />
      <div class="form-control-icon">
        <i class="bi bi-shield-lock"></i>
      </div>
      <div class="form-control-icon form-control-icon-right">
        <a href="javascript:void(0);">
          <i
            class="bi"
            [ngClass]="{
              'bi-eye': !showPassword,
              'bi-eye-slash': showPassword
            }"
            (click)="showPassword = !showPassword"
          ></i>
        </a>
      </div>

      <app-form-errors
        [control]="form.get('password')"
        [submitted]="submitted"
      ></app-form-errors>
    </div>

    <!-- Repetir Contraseña -->
    <div
      class="password-form-group form-group position-relative has-icon-left mb-4"
    >
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="confirm_password"
        class="form-control form-control-xl"
        placeholder="Repetir contraseña"
        [ngClass]="{
          'is-invalid': submitted && form.get('confirm_password')?.errors
        }"
      />
      <div class="form-control-icon">
        <i class="bi bi-shield-lock"></i>
      </div>
      <div class="form-control-icon form-control-icon-right">
        <a href="javascript:void(0);">
          <i
            class="bi"
            [ngClass]="{
              'bi-eye': !showPassword,
              'bi-eye-slash': showPassword
            }"
            (click)="showPassword = !showPassword"
          ></i>
        </a>
      </div>

      <app-form-errors
        [control]="form.get('confirm_password')"
        [submitted]="submitted"
      ></app-form-errors>
    </div>

    <!-- Mensajes de error -->
    <div
      *ngIf="submitted && errorMessage != ''"
      class="alert alert-light-danger color-danger"
    >
      <i class="bi bi-exclamation-circle"></i>
      {{ errorMessage }}
    </div>

    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-md-5 mt-1">
      Cambiar contraseña
    </button>
  </form>
</app-authentication-page>
