<div class="card">
  <div class="card-body px-4 py-4-5">
    <div class="row">
      <div
        class="col-md-4 col-lg-12 col-xl-12 col-xxl-4 d-flex justify-content-sm-start justify-content-center"
      >
        <div class="stats-icon orange mb-2">
          <i class="bi bi-hourglass-split"></i>
        </div>
      </div>
      <div
        class="col-md-8 col-lg-12 col-xl-12 col-xxl-8 text-sm-start text-center"
      >
        <h6 class="text-muted font-semibold">Tiempo Medio de Espera General</h6>
        <h6 class="font-extrabold mb-0">{{ averageWaitingTime }} días</h6>
      </div>
    </div>
  </div>
</div>
