<form
  (ngSubmit)="onSubmit()"
  [formGroup]="createTreatmentForm"
  class="form form-horizontal"
>
  <div class="form-body text-start">
    <div class="row w-100">
      <!-- Descripción -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="description">Descripción*</label>
          <textarea
            formControlName="description"
            class="form-control"
            id="description"
            rows="5"
            placeholder="Descripción"
            [ngClass]="{
              'is-invalid': submitted && form.get('description')?.errors
            }"
            style="resize: none"
          ></textarea>

          <app-form-errors
            [control]="form.get('description')"
            [submitted]="submitted"
          ></app-form-errors>
        </div>
      </div>

      <!-- Comentarios -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="comments">Comentarios</label>
          <textarea
            formControlName="comments"
            class="form-control"
            id="comments"
            rows="5"
            placeholder="Comentarios"
            [ngClass]="{
              'is-invalid': submitted && form.get('comments')?.errors
            }"
            style="resize: none"
          ></textarea>

          <app-form-errors
            [control]="form.get('comments')"
            [submitted]="submitted"
          ></app-form-errors>
        </div>
      </div>

      <!-- Duración -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="duration">Duración*</label>
          <input
            type="text"
            formControlName="duration"
            class="form-control"
            id="duration"
            placeholder="Duración"
            [ngClass]="{
              'is-invalid': submitted && form.get('duration')?.errors
            }"
          />

          <app-form-errors
            [control]="form.get('duration')"
            [submitted]="submitted"
          ></app-form-errors>
        </div>
      </div>

      <!-- Frecuencia de aplicación -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="application_frequency">Frecuencia de aplicación</label>
          <input
            type="text"
            formControlName="application_frequency"
            class="form-control"
            id="application_frequency"
            placeholder="Frecuencia de aplicación"
            [ngClass]="{
              'is-invalid':
                submitted && form.get('application_frequency')?.errors
            }"
          />

          <app-form-errors
            [control]="form.get('application_frequency')"
            [submitted]="submitted"
          ></app-form-errors>
        </div>
      </div>

      <!-- Dosis recomendada -->
      <div class="col-md-6">
        <div class="form-group">
          <label for="recommended_dosage">Dosis recomendada</label>
          <input
            type="text"
            formControlName="recommended_dosage"
            class="form-control"
            id="recommended_dosage"
            placeholder="Dosis recomendada"
            [ngClass]="{
              'is-invalid': submitted && form.get('recommended_dosage')?.errors
            }"
          />

          <app-form-errors
            [control]="form.get('recommended_dosage')"
            [submitted]="submitted"
          ></app-form-errors>
        </div>
      </div>

      <!-- Fecha de comienzo -->
      <div class="col-md-6 col-12">
        <div class="form-group">
          <label for="start_date">Fecha de comienzo*</label>
          <input
            type="text"
            formControlName="start_date"
            id="start_date"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && form.get('start_date')?.errors
            }"
            mwlFlatpickr
            [convertModelValue]="true"
            [locale]="locale"
            [allowInput]="true"
            [minDate]="'today'"
            [dateFormat]="'d-m-Y'"
            [monthSelectorType]="'dropdown'"
            placeholder="Fecha de comienzo"
          />

          <app-form-errors
            [control]="form.get('start_date')"
            [submitted]="submitted"
          ></app-form-errors>
        </div>
      </div>
    </div>

    <div class="row mt-3 w-100 justify-content-end">
      <div class="col-auto">
        <button type="reset" class="btn btn-outline-primary">Limpiar</button>
      </div>
      <div class="col col-sm-3 col-xl-2">
        <button type="submit" class="btn btn-primary w-100">Crear</button>
      </div>
    </div>
  </div>
</form>
