<app-generic-card *ngIf="user" [hasCardHeader]="false">
  <div class="d-flex flex-column flex-md-row text-center text-md-start mb-3">
    <app-avatar
      [name]="user.name"
      [extraClasses]="['avatar-xl', 'me-md-4', 'flex-shrink-0']"
    ></app-avatar>
    <div class="flex-fill mt-md-0 mt-3">
      <h5 class="mb-3">{{ user.name }}</h5>
      <button
        [swal]="changeAvatar"
        (click)="this.avatarForm.reset()"
        class="btn btn-primary me-2"
      >
        Cambiar avatar
      </button>
      <button
        class="btn btn-outline-danger btn-icon"
        customTooltip
        [tooltip]="
          'Eliminar avatar. Se mostrará el avatar por defecto de la aplicación.'
        "
        [tooltipOffsetTop]="5"
        (click)="onDeleteProfilePicture()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="25"
          height="25"
          viewBox="0 0 16 16"
        >
          <g fill="currentColor">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
            />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
            />
          </g>
        </svg>
      </button>
      <p class="small text-muted mt-3 mb-0">
        Para obtener los mejores resultados, use una imagen cuadrada de al menos
        256px de ancho y de alto.
      </p>
      <p class="small text-muted mt-1 mb-0">
        Las extensiones válidas son:
        {{ validExtensionsText }}.
      </p>
    </div>
  </div>
  <swal
    #changeAvatar
    [showCloseButton]="true"
    [showCancelButton]="false"
    [showConfirmButton]="false"
    width="800px"
  >
    <div *swalPortal="swalTargets.title">
      <h4 class="mb-4 text-start text-uppercase">Cambiar avatar</h4>
    </div>
    <div *swalPortal="swalTargets.content">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="avatarForm"
        class="form form-horizontal"
      >
        <div class="form-body">
          <div class="row w-100">
            <div class="col-md-12">
              <div class="form-group">
                <app-avatar
                  [name]="user.name"
                  [extraClasses]="['avatar-xl', 'flex-shrink-0']"
                ></app-avatar>
                <div class="flex-fill mt-md-0 mt-2">
                  <h5 class="mb-3">{{ user.name }}</h5>
                  <input
                    type="file"
                    class="form-control"
                    id="avatar"
                    name="avatar"
                    formControlName="file"
                    (change)="onFileChange($event)"
                    [ngClass]="{
                      'is-invalid': submitted && form.get('fileSource')?.errors
                    }"
                  />
                  <app-form-errors
                    [control]="form.get('fileSource')"
                    [submitted]="submitted"
                  ></app-form-errors>
                  <p class="small text-muted mt-3 mb-0">
                    Para obtener los mejores resultados, use una imagen cuadrada
                    de al menos 256px de ancho y de alto.
                  </p>
                  <p class="small text-muted mt-1 mb-0">
                    Las extensiones válidas son:
                    {{ validExtensionsText }}.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions mt-2">
          <button type="submit" class="btn btn-primary me-2">Guardar</button>
          <button
            type="reset"
            class="btn btn-outline-danger"
            (click)="closeChangeAvatar()"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </swal>
</app-generic-card>
